.centrado-2 {
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    // position: absolute;
    // bottom: 175px;
    // left: 65px;
}

.centrado-2-button {
    text-align: center;
    display: grid;
    justify-content: end;
    align-items: center;
}

.centrado-22 {
    text-align: center;
    display: grid;
    justify-content: flex-end;
    align-items: center;
    // position: absolute;
    // bottom: 175px;
    // left: 65px;
}

.espacio-label {
    margin-bottom: 25px;
}

.margin-top-35 {
    margin-top: 40px!important;
}

.card-content-ios p.espacio-item {
    margin-top: 10px;
}

.card-content-md p.espacio-item {
    margin-top: 10px;
}

.card-content-ios p.espacio-item2 {
    margin-top: 5px;
}

.card-content-md p.espacio-item2 {
    margin-top: 5px;
}

// .espacio {
//     margin-top: 25px;
// }
.border-item-22 {
    border-bottom: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(255, 255, 255, 0.13))));
}

.item-interactive .border-item-22 {
    --border-width: 0px 0px 0px 0px!important;
    --inner-border-width: 0;
    --show-full-highlight: 0;
    --show-inset-highlight: 0;
}

// .item-interactive-disabled.sc-ion-label-ios-h:not(.item-multiple-inputs),
// .item-interactive-disabled:not(.item-multiple-inputs) .sc-ion-label-ios-h {
//     cursor: default;
//     opacity: 1!important;
//     pointer-events: none;
// }
// .item-disabled {
//     cursor: default;
//     opacity: 1!important;
//     pointer-events: none;
// }