<ion-header>
    <ion-toolbar color="blueone">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <!-- <ion-title class="font-size-18"> Descargar I</ion-title> -->
    </ion-toolbar>
</ion-header>

<ion-content class="backgroundDecision">
    <div class="ion-padding">
        <h1>
            Por favor elige el Catastro
        </h1>
    </div>
    <ion-row>
        <ion-col size="12" class="icono-login2">
            <ion-card (click)="irRural()" color="primary" class="cardDecision">
                <ion-card-header>

                    <ion-card-title class="textoDecision"> Rural</ion-card-title>
                </ion-card-header>


            </ion-card>
        </ion-col>

        <ion-col size="12" class="icono-login2">
            <ion-card [disabled]='true' (click)="irUrbano()" color="primary" expand="block" fill="clear" shape="round" class="cardDecisionUr">
                <ion-card-header>

                    <ion-card-title class="textoDecision"> Urbano</ion-card-title>
                </ion-card-header>


            </ion-card>
        </ion-col>
    </ion-row>










    <!-- <ion-button (click)="irRural()" expand="block" color="primary" shape="round">
        Ir a Rural
    </ion-button>

    <ion-button [disabled]='true' (click)="irUrbano()" expand="block" fill="clear" shape="round">
        Ir a Urbano
    </ion-button> -->
</ion-content>