/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@font-face {
    font-family: "Mollen";
    src: url("../src/assets/fonts/mollen/MollenPersonalUse-Bold.otf") format("woff");
}

* {
    font-family: 'Mollen', sans-serif;
}

.botonSincronizarDescarga {
    --border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    text-transform: none;
    margin-top: 20px;
}

.ion-padding2 {
    padding: 0px 0px 0px 20px;
}

.justify {
    text-align: justify;
}

.contador {
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px 0px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
    background-color: white;
}

.center {
    display: flex;
    align-items: center;
}

.imageDescarga {
    display: flex;
    justify-content: space-around;
}

.centerImage {
    display: flex;
    align-items: center;
    max-width: 80%;
    margin-top: 30px;
}

.grey {
    background-color: #f2f2f267;
}

.backgroundColor {
    background-color: #f9f9f9a9;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.cardDecision {
    padding: 5% 60% 5% 0%;
    display: inline-flex;
    background-image: url('./assets/img/1.png');
    background-size: 100%;
    box-shadow: 0 10px 15px 0 rgb(0 79 88 / 10%), 0 -1px 6px 0 rgb(0 79 88 / 5%);
    border-radius: 12px;
}

.cardDecisionUr {
    padding: 5% 51% 5% 0%;
    display: inline-flex;
    background-image: url('./assets/img/2.png');
    background-size: 100%;
    box-shadow: 0 10px 15px 0 rgb(0 79 88 / 10%), 0 -1px 6px 0 rgb(0 79 88 / 5%);
    border-radius: 12px;
}

.icono-login2 {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
}

.textoDecision {
    font-size: 2.3rem;
    color: #46464a!important;
}

.backgroundDecision {
    --background: #f4f5f6!important;
}