/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Fuentes */

@font-face {
    font-family: "Mollen";
    src: url("../src/assets/fonts/mollen/MollenPersonalUse-Bold.otf") format("woff");
}

* {
    font-family: 'Mollen', sans-serif;
}


/* Globales */

.justify {
    text-align: justify;
}

.center {
    display: flex;
    align-items: center;
}

.textCenter {
    text-align: center;
}

.ion-padding2 {
    padding: 0px 0px 0px 20px;
}

.sinMargenTop {
    margin-top: 0px!important;
}

@media all and (max-width: 400px) {
    .cardDecisionUr {
        padding: 10% 45% 10% 0%!important;
        display: inline-flex;
        background-image: url('./assets/img/2p.png')!important;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 10px 15px 0 rgb(0 79 88 / 10%), 0 -1px 6px 0 rgb(0 79 88 / 5%);
        border-radius: 12px;
    }
    .cardDecision {
        padding: 10% 45% 10% 0%!important;
        display: inline-flex;
        background-image: url('./assets/img/1p.png')!important;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 10px 15px 0 rgb(0 79 88 / 10%), 0 -1px 6px 0 rgb(0 79 88 / 5%);
        border-radius: 12px;
    }
    .grey {
        background-color: #fdfbfb;
        box-shadow: 0 10px 15px 0 rgb(0 79 88 / 10%), 0 -1px 6px 0 rgb(0 79 88 / 5%);
        padding: 0.5em 0px!important;
        border-radius: 20px;
    }
    h2.tamanioBox {
        font-size: 1rem!important;
    }
    h3.tamanioNumeroBox {
        font-size: 1rem!important;
    }
    .centerImage {
        display: flex;
        align-items: center;
        max-width: 60%!important;
        margin-top: 10px!important;
    }
}


/* Pantalla Decision */

.backgroundDecision {
    --background: #f4f5f6!important;
}

.icono-login2 {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
}

.cardDecisionUr {
    padding: 20% 45% 20% 0%;
    display: inline-flex;
    background-image: url('./assets/img/2.png');
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 10px 15px 0 rgb(0 79 88 / 10%), 0 -1px 6px 0 rgb(0 79 88 / 5%);
    border-radius: 12px;
}

.cardDecision {
    padding: 20% 45% 20% 0%;
    display: inline-flex;
    background-image: url('./assets/img/1g.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 10px 15px 0 rgb(0 79 88 / 10%), 0 -1px 6px 0 rgb(0 79 88 / 5%);
    border-radius: 12px;
}

.textoDecision {
    font-size: 2.3rem;
    color: #46464a!important;
}

.textoDecisionUr {
    font-size: 1.7rem;
    color: #46464a!important;
}


/* Pantalla Sincronizar */

.backgroundColor {
    background-color: #f4f5f6;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.grey {
    background-color: #fdfbfb;
    box-shadow: 0 10px 15px 0 rgb(0 79 88 / 10%), 0 -1px 6px 0 rgb(0 79 88 / 5%);
    padding: 1.5rem 0px;
    border-radius: 20px;
}

.greyReintentar {
    background-color: #fdfbfb;
    box-shadow: 0 10px 15px 0 rgb(0 79 88 / 10%), 0 -1px 6px 0 rgb(0 79 88 / 5%);
    // padding: 2rem 0px;
    border-radius: 20px;
    margin-top: 0px!important;
}

.greyText {
    color: #797979!important;
    text-align: center;
}

.imageDescarga {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0rem 1rem 0rem;
}

.centerImageNoData {
    display: flex;
    align-items: center;
    max-width: 80%;
    margin-top: 10px;
}

.centerImage {
    display: flex;
    align-items: center;
    max-width: 75%;
    margin-top: 10px;
}

.imageDescargaNoData {
    display: flex;
    justify-content: space-around;
    // padding: 0.3rem 0rem 2rem 0rem;
}

.imageDescargaVolver {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0rem 5rem 0rem;
}

.contador {
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
}

.tamanioBox {
    font-size: 1.2rem!important;
}

.small {
    font-size: smaller!important;
}

.tamanioNumeroBox {
    font-size: 2.5rem!important;
}

.botonSincronizarDescarga {
    --border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    text-transform: none;
    margin-top: 20px;
}

.tamanioTexto {
    font-size: 1.2rem;
}


/* Efectos */

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut ease 0.5s;
    -webkit-animation: fadeOut ease 0.5s;
    -moz-animation: fadeOut ease 0.5s;
    -o-animation: fadeOut ease 0.5s;
    -ms-animation: fadeOut ease 0.5s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}